[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==19.3b0"

[packages]
django = "==2.2.5"
django-cors-headers = "*"
django-rest-framework = "*"
celery = "*"
django-extensions = "*"
werkzeug = "*"
dj-database-url = "*"
psycopg2-binary = "~=2.8.3"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
